body{
  background-image: url('img/meanGirlsShopping.gif');
  background-repeat: repeat;
  word-wrap:break-word;
  font-family: 'The Girl Next Door', cursive;
}
img{
  height: 200px;
}
* {
  box-sizing: border-box;
}
/* Clear fix hack do i need this im not using floats? */
ul{
  background-color: pink;
  border-radius: 5%;
  border: 2px groove black;
}
li{
  list-style: none;
}
nav{
  display: flex;
  justify-content: center;
}